@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&family=Galada&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(249, 249, 249, 1);
  color: rgba(249, 249, 249, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.p-header.is-open .p-header-background {
  left: 0;
}
.p-header-button-wrapper {
  margin-left: auto;
}
.p-header-icon {
  display: none;
}

.p-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.p-navigation-list.is-open {
  right: 0;
}
.p-header-icon-menu {
  display: block;
}

.p-header-icon-button.is-open .p-header-icon-menu {
  display: none;
}

.p-header-icon-button.is-open .p-header-icon-close {
  display: block;
}

.p-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: rgba(18, 43, 120, 1);
}

.p-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(18, 43, 120, 1);
}
.p-header.is-open .p-header-background {
  left: 0;
}
.p-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-header-icon-menu {
  display: block;
}

.p-header-icon-button.is-open .p-header-icon-menu {
  display: none;
}

.p-header-icon-button.is-open .p-header-icon-close {
  display: block;
}

.p-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.p-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  border-radius: 0px 0px 16px 16px;
  gap: 8px;
  background: linear-gradient(180deg, #122b78 0%, #4e1656 100%);
}

.p-navigation-list.is-open {
  right: 0;
}

.p-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(249, 249, 249, 1);
  width: 180px;
  font-family: Farro;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  display: block;
  text-align: center;
  border-bottom: 2px solid transparent;
  padding: 10px 0;
}
.p-navigation-item-desk {
  font-family: Farro;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
.p-navigation-link:hover,
.p-navigatioт-link:focus {
  text-decoration: none;
  border-bottom: 2px solid rgba(164, 44, 142, 1);
}

.p-header.is-open {
  background-color: transparent;
}

.p-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .p-navigation-img {
    display: flex;
  }
  .p-policy-terms-header-icon-menu {
    display: none;
  }

  .p-header {
    width: 100%;
    height: 52px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .p-header-background {
  }
  .p-header-icon-button {
    display: none;
  }
  .p-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .p-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 30px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .p-navigation-link {
    width: 150px;
    font-family: Farro;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

    text-decoration: none;
  }

  .p-navigation-item-desk {
    display: none;
  }
}
.p-home {
  width: 375px;
  height: 812px;
  padding: 334px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/1_home_mob.png");
  margin: auto;
}

.p-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-home-text {
  font-family: Galada;
  font-weight: 900;
  font-size: 46px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  -webkit-text-stroke: 2px rgba(18, 43, 120, 1);
  padding-bottom: 243px;
}

.p-home-google-button-image {
  width: 288px;
  height: 89px;
}

.p-home-google-button-link:hover .p-home-google-button-image {
  content: url("/img/home/1.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .p-home {
    width: 1440px;
    height: 900px;
    padding: 279px 0px 0px;
    background-image: url("/img/home/1_home\ \(1\).png");
  }

  .p-home-text {
    font-size: 84px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-bottom: 335px;
  }
}
.p-why {
  width: 375px;
  margin: auto;
  padding: 40px 16px 0;
  height: 1805px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/3_advantages_mob.png");
}

.p-why-list {
  padding-top: 551px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.p-why-item {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  background: rgba(18, 43, 120, 1);
}

.p-why-text-bold {
  background: rgba(249, 249, 249, 1);
  width: 40px;
  height: 40px;
  border-radius: 100px;
  padding-top: 12px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  font-family: Galada;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(164, 44, 142, 1);
}

.p-why-text {
  font-family: Farro;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  width: 255px;
}

@media screen and (min-width: 1200px) {
  .p-why {
    width: 1440px;
    padding: 64px 0px 0;
    height: 1000px;
    background-image: url("/img/3_advantages.png");
  }
  .p-why-list {
    padding: 40px 80px 0 568px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .p-why-item {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 12px;
    padding-left: 16px;
    background: rgba(18, 43, 120, 1);
  }

  .p-why-text {
    width: fit-content;
  }
}

.p-about {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 815px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/2_gameDescription_mob.png");
  color: rgba(18, 43, 120, 1);
}

.p-about-title {
  -webkit-text-stroke: 1px rgba(18, 43, 120, 1);
  background: linear-gradient(180deg, #ffce99 0%, #ca45c6 100%);
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Galada;
  font-weight: 900;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 4%;
}

.p-about-text {
  font-family: Farro;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: -1px;
  text-align: center;
  padding: 32px 0 176px;
}

.p-about-text-bold {
  font-family: Farro;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .p-about {
    padding: 64px 189px 0;
    width: 1440px;
    height: 879px;
    background-image: url("/img/2_gameDescription.png");
  }
  .p-about-title {
    -webkit-text-stroke: 1px rgba(18, 43, 120, 1);
    font-family: Galada;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 4%;
  }

  .p-about-text {
    font-family: Farro;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;

    padding: 40px 0 463px;
  }

  .p-about-text-bold {
    font-family: Farro;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.p-how {
  width: 375px;
  margin: auto;
  padding: 40px 16px 0;
  height: 998px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/6_howToPlay_mob.png");
}

.p-how-list {
  padding-top: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.p-how-text {
  font-family: Farro;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .p-how {
    width: 1440px;
    padding: 64px 122px;
    height: 540px;
    background-image: url("/img/6_howToPlay.png");
  }
  .p-how-list {
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .p-how-text {
    font-family: Farro;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.p-reviews {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.p-reviews-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.p-reviews-item {
  border-width: 4px;
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
  padding-left: 16px;
  background: rgba(249, 249, 249, 1);
  border: 4px solid rgba(18, 43, 120, 1);
}

.p-reviews-item-top {
  display: flex;
  gap: 8px;
  align-items: center;
}

.p-reviews-text-bold {
  font-family: Farro;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0%;
  color: rgba(78, 22, 86, 1);
}

.p-reviews-text {
  font-family: Farro;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: rgba(34, 34, 34, 1);
  padding-top: 10px;
}

@media screen and (min-width: 1200px) {
  .p-reviews {
    width: 1440px;
    padding: 64px 97px;
  }
  .p-reviews-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .p-reviews-item {
    width: 230px;
    height: fit-content;
    border-radius: 8px;
    border-width: 4px;
    padding-top: 16px;
    padding-right: 8px;
    padding-bottom: 16px;
    padding-left: 16px;
  }

  .p-reviews-item-top {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: start;
  }

  .p-reviews-text-bold {
    font-family: Farro;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .p-reviews-text {
    font-family: Farro;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;

    padding-top: 10px;
  }
}

.p-faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}

.p-faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.p-faq-item {
  border-radius: 12px;
  background: rgba(78, 22, 86, 1);
}

.p-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Farro;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  background: rgba(78, 22, 86, 1);
  border-radius: 12px;
}

.p-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.p-faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Farro;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(34, 34, 34, 1);

  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 2px solid rgba(78, 22, 86, 1);
  background: rgba(249, 249, 249, 1);
}

@media screen and (min-width: 1200px) {
  .p-faq {
    padding: 64px 189px;
    width: 1440px;
  }
  .p-faq-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .p-faq-item {
    border-radius: 12px;
    background: rgba(78, 22, 86, 1);
  }

  .p-faq-question {
    font-family: Farro;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .p-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .p-faq-answer {
    font-family: Farro;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
  }
}
.p-features {
  width: 375px;
  margin: auto;
  padding: 40px 16px 0px;
  height: 1348px;
  background-image: url("/img/4_gameFeatures_mob.png");
}

.p-features-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.p-features-item {
  border-radius: 12px;
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
  padding-left: 8px;
  color: rgba(34, 34, 34, 1);
  background: rgba(249, 249, 249, 1);
}

.p-features-text-bold {
  font-family: Farro;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}

.p-features-text {
  font-family: Farro;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .p-features {
    width: 1440px;
    padding: 64px 80px;
    height: 747px;
    background-image: url("/img/4_gameFeatures.png");
  }
  .p-features-list {
    margin-top: 86px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 453px;
    gap: 24px;
  }

  .p-features-item {
    width: 400px;
    border-radius: 16px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
  }
  .p-features-item-two {
    margin-top: 292px;
  }
  .p-features-text-bold {
    font-family: Farro;
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .p-features-text {
    font-family: Farro;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.p-policy-terms-container {
  padding: 100px 16px 40px;
  width: 375px;
  margin: auto;
  color: rgba(34, 34, 34, 1);
  font-family: Farro;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.p-policy-terms-title {
  font-family: Galada;
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  background: linear-gradient(180deg, #ffce99 0%, #ca45c6 100%);
  -webkit-text-stroke: 1px rgba(18, 43, 120, 1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-policy-terms-text {
  padding-top: 20px;
  font-family: Farro;
  font-weight: 500;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0%;
}

.p-policy-terms-texts {
  padding-top: 8px;
}

.p-policy-terms-text-one {
  padding-top: 20px;
}

.p-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.p-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.p-email-link {
  color: inherit;
  text-decoration: none;
}

.p-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .p-policy-terms-container {
    padding: 100px 189px 40px;
    width: 1440px;
    font-family: Farro;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .p-policy-terms-title {
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 4%;
  }

  .p-policy-terms-text {
    padding-top: 40px;
    font-family: Farro;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .p-policy-terms-text-one {
    padding-top: 30px;
  }

  .p-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.p-footer {
  width: 375px;
  margin: auto;
  color: #ffffff;
  background: rgba(18, 43, 120, 1);

  padding: 40px 0px;
}

.p-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.p-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.p-footer-text {
  text-decoration: none;
  color: #ffffff;
  font-family: Farro;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.p-footer-copyright {
  font-family: Farro;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .p-footer {
    width: 1440px;
    padding: 64px 0px;
  }

  .p-footer-container {
    gap: 40px;
  }

  .p-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 48px;
  }

  .p-footer-text {
    font-family: Farro;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .p-footer-copyright {
    font-family: Farro;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.p-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 16px;
  background: rgba(18, 43, 120, 1);

  z-index: 1000;
  display: none;
}

.p-cookie-popup-text-two {
  font-family: Farro;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.p-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.p-cookie-button {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(164, 44, 142, 1);
  width: 149px;
  padding: 10px 0;
  border-bottom-width: 2px;
  font-family: Farro;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(249, 249, 249, 1);
}

#accept-cookies {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  border-radius: 12px;
  padding: 10px;
  background: rgba(164, 44, 142, 1);
}

.p-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .p-cookie-popup-text-two {
    font-family: Farro;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
  }

  .p-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .p-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
